<table class="results">
    <tr>
        <th>Grain</th>
        <th>Subcategory</th>
        <th>Variety Name</th>
        <th>Year</th>
        <th>Source</th>
        <th>Availability</th>
        {% if full %}
        <th>Member</th>
        <th>USDA zone</th>
        {% endif %}
        <th>Short Description</th>
        <th>Actions</th></tr>
    {% for seed in seed_list_for_table %}
        <tr>
            <td>{{ seed.crop_type|capfirst }}</td>
            <td>{{ seed.grain_subcategory|capfirst }}</td>
            <td>
                {% if seed.more_info %}
                        <a href="{% url 'views-seed_profile' id=seed.id %}">{{ seed.seed_variety }}</a>
                {% else %}
                        {{ seed.seed_variety|capfirst }}
                {% endif %}
            </td>
            <td>{{ seed.year }}</td>
            <td>{{ seed.origin }}</td>
            <td>{{ seed.enough_to_share|yesno:"Yes,No" }}</td>

            {% if full %}
            {% with seed.user.memberinfo_set.all|first as mi %}
                <td>
                    {% if mi.include_in_member_profiles %}
                        <a href="{% url 'views_user-member' mid=mi.id %}">{{ seed.user.username }}</a>
                    {% else %}
                        {{ seed.user.username }}
                    {% endif %}
                </td>
                <td>
                    {{mi.usda_zone}}
                </td>
            {% endwith %}
            {% endif %}
            <td>{{ seed.seed_description }} </td>

            <td>
                {% ifequal seed.user.username user.username %}
                    <a href="{% url 'views-seed_edit' id=seed.id %}">Edit</a>
                    {% if seed.archived %}
                        | <a href="{% url 'views-seed_confirm_archive' id=seed.id %}">Unarchive</a>
		        | <a href="{% url 'views-seed_confirm_delete' id=seed.id %}">Delete</a>
                    {% else %}
                        | <a href="{% url 'views-seed_confirm_archive' id=seed.id %}">Archive</a>
                    {% endif %}
                {% endifequal %}

            </td>
        </tr>
    {% endfor %}
</table>
