{% extends "base.html" %}
{% block title %}Heritage and Landrace Grain Network: Edit Seed {% endblock %}
{% block pagetitle %}Edit Seed{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'views-seed_edit' id=seed.id %}">{% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
           <table id="extended_form">
                        {{  extended_form.as_table }}
                        </table>
            <tr><td colspan="2"><a href="{% url 'views-seeds' %}">Cancel</a> |
			<input type="submit" value="Update" /></td></tr>
        </form>
    {% else %}
    {% endif %}
{% endblock %}
