{% extends "base.html" %}
{% block title %}Heritage and Landrace Grain Network: Search{% endblock %}
{% block pagetitle %}Browse Seeds{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
	<p>
Browse or search for seeds. Click on the seed's variety name link to see more information about a seed. Seeds without this link display all available information in the table below.
	</p>
        <form  class="searchform" method="post" action="{% url 'views_search-seed_search' %}">{% csrf_token %}
            <input type="text" name="q" value="{{ q }}"> <input type="submit" value="Search"><br/>
            <input type="checkbox" name="archive" {{ archived_checked }}>Include archived seeds
        </form>
        <br/>
        {% if seed_list %}
            {% with seed_list_for_table=seed_list full=True  %}
                {% include 'inc-seed-table.html' %}
            {% endwith %}
        {% else %}
            <p>No seeds matched your search.</p>
        {% endif %}

    {% endif %}
{%endblock%}
