{% extends "base.html" %}
{% block title %}Seed bank: Seed Profile{% endblock %}
{% block pagetitle %}{{seed.user.username}}'s {{seed.seed_variety}} Grain Profile{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="form">
        <tr><td><b>Grain:</b></td><td>{{seed.crop_type}}</td></tr>
        <tr><td><b>Grain Subcategory:</b></td><td>{{seed.grain_subcategory}}</td></tr>
        <tr><td><b>Grain Variety:</b></td><td>{{seed.seed_variety}}</td></tr>
        <tr><td><b>Grain Description:</b></td><td>{{seed.seed_description}}</td></tr>
        <tr><td><b>Availability:</b></td><td>{{seed.enough_to_share}}</td></tr>
        <tr><td><b>Year:</b></td><td>{{seed.year}}</td></tr>
        <tr><td><b>Origin:</b></td><td>{{seed.origin}}</td></tr>
        <tr><td><b>Improvement Status:</b></td><td>{{ev.improvement_status}}</td></tr>
        <tr><td><b>Growth Habit:</b></td><td>{{ev.growth_habit}}</td></tr>
        <tr><td><b>Lodging:</b></td><td>{{ev.lodging}}</td></tr>
        <tr><td><b>Cultivation:</b></td><td>{{ev.cultivation}}</td></tr>
        <tr><td><b>Disease:</b></td><td>{{ev.disease}}</td></tr>
        <tr><td><b>Days to Maturity:</b></td><td>{{ev.days_to_maturity}}</td></tr>
        <tr><td><b>Threshing:</b></td><td>{{ev.threshing}}</td></tr>
        <tr><td><b>Cold Hardiness:</b></td><td>{{ev.cold_hardiness}}</td></tr>
        <tr><td><b>Culinary Qualities:</b></td><td>{{ ev.culinary_qualities}}</td></tr>
        <tr><td><b>Other Uses:</b></td><td>{{ ev.other_uses }}</td></tr>
        <tr><td><b>Additional Information:</b></td><td>{{ ev.additional_info }}</td></tr>
        <tr><td><b>External URL:</b></td><td><a href = "{{ ev.external_url }}">{{ev.external_url}}</a></td></tr>
        <tr><td><b>Username:</b></td><td><a href="{% url 'views_user-member' mid=seed.user.memberinfo_set.get.id %}">{{ seed.user.username }}</a></td></tr>
        </table>
        <br/>
    {% if user.id == seed.user.id %}
        <a href="{% url 'views-seed_edit' id=seed.id %}">Edit Grain</a> 
    {% else %}
    {% endif %}
    {% else %}
    {% endif %}
{% endblock %}
