{% extends "base.html" %}
{% block title %}About the Heritage and Landrace Grain Network{% endblock %}

{% block gitforkribbon%}
<div class="fork-ribbon-wrapper green">
  <div class="fork-ribbon-border"></div>
  <div class="fork-ribbon-container">
    <div class="fork-ribbon">
      <div class="fork-ribbon-content"><a href="https://github.com/gridmatterio/seednetwork"><i class="fab fa-github"></i><br/>Fork me on GitHub</a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagetitle %}
         About the Heritage and Landrace Grain Network
{% endblock %}
{% block content %}
	<p>
All over the world, farmers and gardeners are rediscovering the importance and pleasure of growing heritage and landrace grains. Their flavor, high nutrient content, adaptability to a range of conditions, beauty, and interesting histories compel us to become involved with growing and re-introducing them into wider cultivation in a time of climate change and alarming loss of diversity. 
	<br /><br />
	Within this site you will find a collection of enthusiastic farmers, gardeners, homesteaders, and bakers who are growing, using, experimenting with, and sharing seed of these grains and pseudograins. We thought it would be useful for these dedicated and creative people to be able to communicate with each other and share seeds and knowledge about their valuable and interesting work. This is what inspired us to create this site.
	<br /><br />
We invite you to register and join our network.  Feel free to send us your feedback. We are always interested in ways to improve the site.
</p>
	<p>
	<h2> What is the purpose of the site? </h2>
This is a site for members to share seeds and to network with other members. It is a platform for all of us to see what others are doing and then be able to communicate directly with each other as we wish. 
<br /><br />
Currently the site contains the following pages:
<ul>
<li> a <b>registration page</b> where you sign in, choose a password, enter contact information and create a profile describing your projects and interest</li>
<li> a list of <b>network members</b> with links to their individual profiles </li>
<li>a detailed <b>member profile page</b> for each member where they can describe their work and their primary interests. This page includes a list of the seeds they are offering along with description </li>
<li> a <b>browse page</b> where you can see the seeds offered by all members or search for specific varieties </li>
<li> an <b>add a seed page</b> where members add to the listings </li>
<li> a <b>seed profile page</b> for each seed entry </li>
</ul>
</p>
<h2> The Grain Network Wiki </h2>
<p>
Once you’ve registered as a member, a row of tabs will appear that take you to the various pages of this site. The “Wiki” tab is a link to a workspace for members that allows you to share information and resources beyond what we can share easily on the main Network site. You’ll be able to create your own page to describe projects, add general information about grains, or add or search additional resources.
	</p>
<h2> Is there a fee to join the network? </h2>
<p>
There is no fee to join at this time. We would much prefer to keep this site free and open to all who want to join this work and to maximize participation. The reality, though, is that the site is a work in progress and there is still much we can do to improve its relevance and usefulness. There will be inevitable costs in maintaining the site. For the first six months the site will remain free. After that we’ll need to decide whether we have to charge a minimal annual fee for membership.  
</p>
<h2> Who started this site? </h2>
<p>
Sylvia and Ruth are both Vermont gardeners with seed saving histories who have been increasingly drawn to ancient grains. After growing them in our own gardens for several years, we are excited to be part of a larger grain-growing community.
</p>
{% endblock %}
