{% extends "base.html" %}
{% block title %}Our agreement with you{% endblock %}

{% block pagetitle %}
	Our agreement with you
{% endblock %}
{% block content %}
	<p>
	By accessing the "Heritage and Landrace Grain Network" and the accompanying <a href="{% url 'external_wiki' %}">Wiki</a>, you agree to be bound by the following terms. If you do not agree to be legally bound by all of the following terms, then please do not access and/or use "Heritage and Landrace Grain Network."
        <br /><br />
	The “Heritage and Landrace Grain Network” is intended to promote the open exchange of knowledge and seeds and is reserved for that purpose. As a registered user, you agree not to use personal addresses and emails for any purpose other than to communicate with another individual member.
	<br /><br />
You agree not to use the site to advertise a service or product beyond the seeds you are listing. 
You agree not to contact any member by means of chain letter, spam, or mailing lists for any purpose. 
You agree not to post any abusive, obscene, vulgar, slanderous, hateful, threatening, sexually-oriented or any other material that may violate any laws of your country, the country where “Heritage Landrace Grain Network” is hosted, or International Law. 
Failure to observe these agreements will result in a member being removed from the site.
	<br /><br />
As a user you agree to any information you have entered being stored in a database. 
We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect our or others’ rights, property, or safety.
Neither “Heritage and Landrace Grain Network” nor trusted third parties shall be held responsible for any hacking attempt that may lead to the data being compromised. 
	<br /><br />
We do not use this site to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at uvseedsavers@gmail.com. We will delete such information from our files as soon as possible.
	<br /><br />
This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy <a href="{% url 'seednetwork-agreement' %}">here.</a>  You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.
 	<br /><br />
Help us keep the “Heritage and Landrace Grain Network” a site that supports the most positive and generous access to the growing number of people engaged in this important work.

</p>
{% endblock %}
