{% extends "base.html" %}
{% block title %}Glossary of  Heritage and Landrace Grain Network{% endblock %}

{% block pagetitle %}
         Glossary of  the Heritage and Landrace Grain Network
{% endblock %}
{% block content %}
	<p>
This page defines terms you might find throughout the site, especially on the "Browse Seed" page. The glossary is a work in progress, and edits, corrections, and updates to it will be more likely to appear on our associated <a href="{% url 'external_wiki' %}">wiki.</a> If you need more help, please check out the glossary and resources there.
<dl>
	<dt><b>Landrace</b></dt>
	<dd>
		<ol>
                 <li> A population that has developed through natural processes including adaptation to a variety of environmental situations, crossings, and the introduction of seed through farmers trading and sharing seed. Landraces are genetically and physically more diverse than more formal varieties or breeds. This allows them to respond to and take advantage of a variety of growing situations, and it allows growers to select for traits that are best suited to their growing conditions. </li>
		<li> A population that has grown up and adapted naturally to a particular region's climate and soil and to the cultivation methods used by the farmers.</li>
		<li> Informal farmer-selected populations that often maintain high levels of morphological diversity.</li>
               </ol>
	</dd>
        <br></br>
	<dt><b>Variety</b></dt>
	<dd>
	A subdivision of a species, officially ranking between subspecies and forma when these are also used. However, especially as used in the past it has had varying connotations. It is often used for a major subdivision of a species (sometimes in the sense of subspecies), and has also frequently been used in the sense of form. Before the term cultivar was coined, variety could also have the sense of that term, designating a variant of horticultural origin or importance. (from Hortus Third)
	</dd>
        <br></br>
	<dt><b>Cultivar</b></dt>
	<dd>
         A horticulturally or agriculturally derived variety of a plant, as distinguished from a natural or wild variety.
	</dd>
        <br></br>
	<dt><b>Modern</b></dt>
	<dd>
		<ol>
		 <li> Varieties developed in the late 1800s and after Mendel's Laws were put into action by breeders around 1900; varieties bred for roller milling.</li>
		<li>  Dwarf and daylight-insensitive varieties developed for greater yield starting in the mid 1900s in the US, earlier in some other countries.</li>
		</ol>
	</dd>
        <br></br>
	<dt><b>Heirloom</b></dt>
 	<dd> An open-pollinated variety passed down from generation to generation within a family or community. Not generally commercially available in the past.
	</dd>
        <br></br>
	<dt><b>Heritage</b></dt>
        <dd> Old fashioned varieties. Varieties that existed or were developed before the mid-20th century when breeding intensified for shorter height, higher yield, and various resistances.
	</dd>
        <br></br>
	<dt><b>Spring Habit</b></dt>
	<dd> Not requiring vernalization to produce seed, and generally producing ripe seed in a relatively short growing season. In northern regions, understood to need planting in the spring rather than in the fall, but planting times can vary significantly depending on growing region. 
	</dd>
        <br></br>
	<dt><b>Winter Habit</b></dt>
	<dd> Requiring vernalization to initiate stem elongation and seed formation. In northern regions, understood to need planting in the fall and requiring a long season to produce ripe seed. Plants will grow into a small clump before the ground freezes, go dormant over the winter, then develop seed the following summer. However, planting times can vary significantly depending on growing regions.
	</dd>
        <br></br>
	<dt><b>Facultative Habit</b></dt>
	<dd> Can be planted either in the spring or in the fall <span style="text-decoration: underline;">in some locations</span>. Facultative grains do not require vernalization but have a moderate level of winter or cold hardiness.
	</dd>
        <br></br>
	<dt><b>Vernalization</b></dt>
	<dd> Exposure of plants or seeds to low temperatures for a period of time in order to stimulate flowering or to enhance seed production.
	</dd>
        <br></br>
	<dt><b>Breeding</b></dt>
	<dd> Purposeful crossing of varieties to obtain desired characteristics.
	</dd>
        <br></br>
	<dt><b>Selection</b></dt>
	<dd> Choosing seed from certain plants that show desired characteristics rather than collecting seed from the entire population.
	</dd>
        <br></br>
	<dt><b>Diploid</b></dt>
	<dd> Having two sets of chromosomes.
	</dd>
        <br></br>
	<dt><b>Tetraploid</b></dt>
	<dd>  Having four sets of chromosomes.
	</dd>
        <br></br>
	<dt><b> Hexaploid </b></dt>
	<dd> Having six sets of chromosomes.
	</dd>
        <br></br>
	<dt><b>Lodging</b></dt>
	<dd> The tendency of a plant to fall over. Causes can include wind, heavy rains, or an excess of fertility leading to heavy grain heads, or simply the inherent nature of a particular variety.
	</dd>
</dl>
</p>
{% endblock %}
