{% extends "base.html" %}
{% block title %}Heritage Grain Collective  Virtual Seed Bank{% endblock %}
{% block pagetitle %}Welcome to the Heritage Grain Collective Virtual Seed Bank{% endblock %}
{% block content %}
<p>
Around the country farmers and gardeners are rediscovering the importance and pleasure of growing heritage and landrace grains. Their flavor, high nutrient content, adaptability to a range of conditions, and interesting histories compel us to become involved in a time of climate change and alarming loss of diversity.
<br /><br />
This site offers the opportunity to share your knowledge and experience and to network with other growers. You can use your profile page to tell others about yourself and your work, describe the varieties you grow and the scope of your projects, and initiate collaboration on trials. One of our primary objectives in launching this site is to promote the sharing of seeds. We hope members' seed trials will help identify outstanding varieties that can be shared with farmers, grown out in larger quantity, and tested for baking qualities.
<br /><br />
Visit our associated wiki  page to read more about our mission and for valuable resources, growing recommendations, and sources for rare varieties from US and international seed banks. We welcome members' contributions to the wiki.
<br /><br />
The founders of this website are Sylvia Davatz and Ruth Fleishman, but we've had help from many colleagues in this effort and are especially grateful to Eli Rogosa for her pioneering work in reviving interest in heritage grains.
</p>
	  
    {% if user.is_authenticated %}
		User is logged in.
        <h3><a href="{% url 'views-seed_create' %}">Add a new seed</a> or 
         <a href="javascript:document.forms.search.q.value='';document.forms.search.submit()">Browse all seeds</a> or 
		 Search for seeds, towns, or members below:
        <p><form id="search" class="searchform" method="post" action="{% url 'views_search-seed_search' %}">{% csrf_token %}
            <input id="q" type="text" name="q"> <input type="submit" value="Search">
        </form></p>
    {% else %}
	
       <p>
       Register and log in to begin listing seeds and browsing the offerings of other members. 
       </p>
	<h2>  Login or Register to use the Virtual Seed Bank. </h2>
        <table>
        <tr>
        <td width="298" height="714" valign="top">
            <span class="sectionheader">Member Login:</span>
            <form method="post" action="{% url 'auth-views-login' %}">
            <table>{% csrf_token %}
                {{ login_form.as_table }}
                <tr><td colspan="2" style="text-align: right"><input type="submit" value="Sign in"></td></tr>
            </table>
                <input type="hidden" name="next" value="{% url 'seednetwork-home' %}" />
            </form>
            <a href="{% url 'auth-views-password_reset' %}">I forgot my password</a>

        </td>
        <td width="1">&nbsp;</td>
        <td width="650" valign="top">

        <span class="sectionheader">New member registration:</span>
        <form method="post" action="{% url 'views_user-new_user' %}">
        <table>{% csrf_token %}
            {{ create_user_form.as_table }}
            {{ member_info_form.as_table }}
            <tr><td colspan="2" style="text-align: right"><input type="submit" value="Register"></td></tr>
        </table>
        </form>

    </td>
    </tr>
        </table>
    {% endif %}
{% endblock %}
