{% extends "base.html" %}
{% block title %}Heritage and Landrace Grain Network{% endblock %}

{% block gitforkribbon%}
<div class="fork-ribbon-wrapper green">
  <div class="fork-ribbon-border"></div>
  <div class="fork-ribbon-container">
    <div class="fork-ribbon">
      <div class="fork-ribbon-content"><a href="https://github.com/gridmatterio/seednetwork"><i class="fab fa-github"></i><br/>Fork me on GitHub</a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagetitle %}
    {% if user.is_authenticated %}
         Welcome to the Heritage and Landrace Grain Network
    {% else %}
         Welcome to the Heritage and Landrace Grain Network
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
<p>
        List your seeds, contact each other, and share your grains, knowledge, and experience.
        Use your profile page to tell others about yourself and your work, describe the varieties you grow and the scope of your projects, and initiate collaboration on trials.
        Connect to the work of others through their member profiles.
<br /> <br>
        Use the tabs above to add a new seed, browse seed listings, and view member profiles.
<br /> <br>
        Use the search bar below to search for specific grain varieties or member names.
</p>
        <p><form id="search" class="searchform" method="post" action="{% url 'views_search-seed_search' %}">{% csrf_token %}
            <input id="q" type="text" name="q"> <input type="submit" value="Search">
        </form></p>
    {% else %}
	<p>
This site offers the opportunity for members to share seeds, knowledge, and experience and to network with other growers and bakers interested in heritage and landrace grains.
<br /> <br> 
We invite you to register and join us if you would like to be part of our network. 
<br /> <br>
Please read the <a href="{% url 'seednetwork-about-us' %}">About Us</a> page to learn more. You can also visit the Heritage and Landrace Grain Network <a href="{% url 'external_wiki' %}">Wiki</a>.
<br /> <br>
	</p>
<h2> To participate in the Grain Network, </h2>
<h2 style = "margin-top: -1em">  <a href="#login"> Log in</a>&nbsp; or <a href="#register">Register </a>&nbsp; </h2>
        <table>
        <tr>
        <td width="100%"  valign="top">
            <a id="login">
            <span class="sectionheader">Member Login:</span> </a>
            <form method="post" action="{% url 'auth-views-login' %}">
            <table>{% csrf_token %}
                {{ login_form.as_table }}
                <tr>
                  <td colspan="1" style="text-align: right"><input type="submit" value="Log in"></td>
                  <td colspan="1" style="text-align: right"> <a href="{% url 'password_reset' %}">Reset password</a> </td>
                </tr>
            </table>
                <input type="hidden" name="next" value="{% url 'seednetwork-home' %}" />
            </form>
            <br /> <br />
           <a id="register">
           <span class="sectionheader">New Member Profile:</span> </a>
           <form method="post" action="{% url 'views_user-new_user' %}">
           <table>{% csrf_token %}
               {{ create_user_form.as_table }}
               {{ member_info_form.as_table }}
               <tr><td colspan="1" style="text-align: right"><input type="submit" value="Register"></td></tr>
           </table>
           </form>

    </td>
    </tr>
        </table>
    {% endif %}
{% endblock %}
