{% extends "base.html" %}
{% block title %}Seed bank: Login{% endblock %}
{% block pagetitle %}Login as a Member{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    {{ user.username }}
{% else %}
    {% if form.errors %}
<p>Your username and password didn't match. Please try again or create a new user on the <a href="{% url 'seednetwork-home' %}">welcome page.</a></p>
{% endif %}

<form method="post" action="{% url 'auth-views-login' %}">
{% csrf_token %}
<table>
{{ form.as_table }}
    <tr><td colspan="2"><input type="submit" value="Login" /></td></tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>
    <a href="{% url 'password_reset' %}">I forgot my password</a>
{% endif %}
{% endblock %}
