{% extends "base.html" %}
{% block title %}Heritage and Landrace Grain Network: Edit Member Profile{% endblock %}
{% block pagetitle %}Edit {{ user.username }}'s Member Profile{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form method="post" action=".">{% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
            </br>
            <a href="{% url 'views_user-profile' %}">Cancel</a> |
            <input type="submit" value="Update" />
        </form>
    {% else %}
    {% endif %}
{% endblock %}
